* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "NanumSquare_ac";
    font-weight: bold;
}
label{
    display: none;
}
h3 {
    text-align: center;
    height: 80px;
    line-height: 80px;
    font-size: 25px;

}

.table_layout {
    position: absolute;
    top: 200px;
    left: 5%;
    right: 10%;
    width: 90%;
    margin: 0 auto;
}
.table_layout ul{
    display: none;
}
.table_layout ul.list{
    display: table;
    width: 100%;
}

.table_layout ul.list > li {
    display: table-row;
}

.table_layout ul.list > li > div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 5px;
}

.table_layout .table_th > div {
    
    background: #fbfbfb;
    height: 70px;
    font-size: 18px;
    font-weight: bold;
}

.table_layout .table_tr > div {
    height: 50px;
    border-bottom: 1px solid #e0e0e0;
}

.table_tr .subject {
    text-align: left;
     !impotrant;
}

.table_tr:hover {
    background: #fbfbfb
}



/*button-------*/
.pagination{
    position: absolute;
    top: 65%;
    left: 30%;
    right: 30%;
    text-align: center;
    padding: 10px;
}
.page_wrap{
    width: 100%;
    display: inline-block;
    text-align: center;
}
.page_wrap a{
    display: inline-block;
    border: 1px solid #f2f2f2;
    width: 50px;
    height: 50px;
    
}
.page_wrap a:hover{
    background-color: #e0e0e0;
}







#bottom_wrap{
    position: absolute;
    left: 40%;
    top: 60%;
    
    
}
.btn_wrap > button{
    background-color: #3318bc;
    color: #fff;
    height: 42px;
    width: 100px;
}
select{

    height: 50px;
}
#sfx{padding: 10px;
    margin-left: -4px;
    height: 50px;
}
form{
    text-align: center;
}
.btn{
margin: 50px;
}
#bo_sch{
    border: none;
    padding-bottom:40px;
}
legend{
    padding-top: 50px;
}

